/* Styles pour le multiselect */
.select__menu {
    z-index: 10;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-size: 0.875rem;
}

.select__option--is-focused {
    background-color: #EFF6FF;
}

.select__option--is-selected {
    background-color: #DBEAFE;
    color: #1E40AF;
}

.select__indicator-separator {
    display: none;
}

.select__control {
    min-height: 38px;
}